table {
    table-layout: fixed;
    border-collapse: collapse;
    overflow: auto;
    overflow-y: scroll;
}

tbody {
  // display: block;
  width: 100%;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  text-align: center;
}

thead {
  width: 100%;
}

.table td, .table th {
  vertical-align: center !important;
}

th {
  background-color: #2D232E;
  color: white;
  text-align: center;
  position: sticky; 
  top: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

